{% extends 'base.html.twig' %}
{% block title %}
  Student  Register
{% endblock %}

{% block stylesheet %}
<style>
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {

  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #5282ED;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #5282ED;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color:#4887F0 ;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 800px;
  }

}

</style>
{% endblock %}

{% block body %}
  <div class="container">
    <form action="index.html" method="post">

      <h1>Sign Up</h1>


      <fieldset>
        <legend><span class="number">2</span>Family Background</legend>
      <hr>
      <p><b>Father's Information</b></p>
        <label for="father_name">Father's Full Name: </label>
        <input type="text" id="father_name" name="user_father_name">
        <label for="father_Occupation">Occupation: </label>
        <input type="text" id="father_occupation" name="user_father_occupation">
        <label for="father_education_level">Education level:</label>
        <input type="text" id="father_education_level" name="user_father_education_level">
        <p>Telephone</p>
        <label for="father_telephone_home">Office:</label>
        <input type="tel" name="father_contact_tele_office" id="user_father_tele_office">
        <label for="father_telephone_mobile">Mobile:</label>
        <input type="tel" name="user_contact_tele_mobile" id="user_mobile">

        <label for="father_town">Town:  </label>
        <input type="text" id="father_town_name" name="user_father_town">
        <label for ="father_region">Region: </label>
        <input type="text" id = "father_region_name" name="user_father_region">
        <label for="father_place_zone">Zone:</label>
        <input type="text" id="father_zone_name"name="user_father_zone" >
        <label for="father_woreda/subcity">Woreda / Subcity:</label>
        <input type="text" name="father_woreda_name" id="user_father_woreda">
        <label for="father_kebele">Kebele:</label>
        <input type="text" name="father_kebele_name" id="user_father_kebele">
        <label for="father_house_number">House Number:</label>
        <input type="number" name="father_house_nubmer" id="user_father_house_number">
     <hr>
     <p><b>Mother's Information</b></p>
         <label for="mother_name">Mother's Full Name: </label>
         <input type="text" id="mother_name" name="user_mother_name">
         <label for="mother_Occupation">Occupation: </label>
         <input type="text" id="mother_occupation" name="user_mother_occupation">
         <label for="mother_education_level">Education level:</label>
         <input type="text" id="mother_education_level" name="user_mother_education_level">
         <p>Telephone</p>
         <label for="mother_telephone_office">Office:</label>
         <input type="tel" name="mother_contact_tele_office" id="user_mother_tele_office">
         <label for="mother_telephone_mobile">Mobile:</label>
         <input type="tel" name="mother_contact_tele_mobile" id="user_mother_tele_mobile">

         <label for="mother_town">Town:  </label>
         <input type="text" id="mother_town_name" name="user_mother_town">
         <label for ="mother_region">Region: </label>
         <input type="text" id = "mother_region_name" name="user_mother_region">
         <label for="mother_place_zone">Zone:</label>
         <input type="text" id="mother_zone_name"name="user_mother_zone" >
         <label for="mother_woreda/subcity">Woreda / Subcity:</label>
         <input type="text" name="mother_woreda_name" id="user_mother_woreda">
         <label for="mother_kebele">Kebele:</label>
         <input type="text" name="mother_kebele_name" id="user_mother_kebele">
         <label for="mother_house_number">House Number:</label>
         <input type="number" name="mother_house_nubmer" id="user_mother_house_number">






    </form>



  </div>
{% endblock %}
