{% extends 'base.html.twig' %}
{% block title %}
  Student
{% endblock %}

{% block body %}
  <div id="wrapper">
      <div id="container">
          <div id="welcome">
              
          </div>
        </div>
      </div>
{% endblock %}
