{% extends 'base.html.twig' %}
{% block title %}
  Teacher
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container">
    <article class="tasks">
      <div>
        <a href=""><img src="images/icons/.png" draggable="false" /></a>

        <a href="">Schools</a>
      </div>
    </article>
    <hr class="clear" width="0" />
  </div>
{% endblock %}
