{% extends 'base.html.twig' %}
{% block title %}
  Teachers View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container">

  </div>
{% endblock %}
