@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin:0px;
  padding:0px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

header, nav, article, section, div, footer , side-nav {
  display: block;
}

.clear {
  clear: both;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

.taright {
  text-align: right;
}

.container  {
  margin: 1.5vh auto;
  width: 1250px;
  min-height: 81.75vh;
}

.wide_container {
  margin: 1.5vh 5%;
  width: 90%;
  min-height: 81.75vh;
}

#accessDenied {
  text-align: center;
  color: #FF0000;
}

header {
  background-color: #1872B8;
  color: #FFFFFF;

  z-index: 99;
  height: 8vh;
  width: inherit;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
header:hover {
  box-shadow: 0 7px 17px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.100);
}
header div:nth-child(1) {
  float: left;
  background-color: #333;

  height: inherit;
  width: 350px;
}

header div:nth-child(1) img {
  z-index: 9;
  height: inherit;
  width: inherit;
}

header table {
  float: right;
  height: inherit;
  width: auto;
}

header table tr td a {
  color: #FFFFFF;

  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding: 30px;
  height: inherit;
}

header table tr td a:hover {
  background-color: #3A94DA;
}

.welcomeText {
  cursor: default;
  font-size: 35px;
  color: #1872B8;

  padding: 0px 20px;
  width: inherit;
}

.welcomeText2 {
  cursor: default;
  font-size: 20px;
  color: #1872B8;

  padding: 0px 0px;
}

.tasks {
  margin: 10px 0px;
  padding: 15px;
}

.tasks div {
  float: left;
  text-align: center;

  margin: 5px 22px;
  width: 200px;
}

.tasks div img {
  opacity: 0.75;
  width: 50%;
}

.tasks div:hover img {
  opacity: 1.0;
}

.tasks div a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #000000;

  padding: 10px 0px;
  width: inherit;
}

.tasks div:hover a {
  color: #1872B8;
}

.tasks div p {
  cursor: default;
  text-align: justify;
  opacity: 0.75;
  font-size: 12px;
}

.form {
  background-color: #F5F5F5;
  border: 0.25px solid #F5F5F5;
  padding: 10px 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: block;
}

.form h1 {
  cursor: default;

  font-size: 25px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.form h2 {
  cursor: default;
  font-size: 17.5px;
  text-align: center;
  margin: 10px 5px;
  padding: 5px;
}

#resultMessage {
  color: #F00;
}

.form label {
  display: block;
  cursor: default;
  text-align: left;
  margin: 5px;
  padding: 5px;
}

.form p {
  text-align: left;
  margin: 5px;
  padding: 5px;
}

.form button, .form input, .form select, .form textarea {
  display: block;
  font-size: 15px;
  color: #000000;

  margin: 7.5px 5px;
  padding: 10px 5px;
  width: 400px;
}

.form button, .form input[type=submit], .form select {
  cursor: pointer;
}

.form select {
  width: 425px;
}

.form button, .form input[type=submit] {
  width: 200px;
  float: right;
}

.form button:hover, .form input[type=submit]:hover {
  color: #FFFFFF;
  background-color: #1872B8;
  border-color: #1872B8;
}

.form table {
  width: 100%;
}

.form table tr td {
  font-size: 15px;
  padding: 10px 10px;
}

.form table tr td a {
  color: #000000;
  text-decoration: none;

  padding: 0px 10px;
}

.form table tr td a:hover {
  color: #1872B8;
  text-decoration: underline;
}

.form table tr td:nth-child(1) {
  cursor: default;
  font-size: 17.5px;
}

/* view.html.twig ss */
#view_container h1 {
  font-size: 20px;
  color: #1872B8;
  margin: 10px 0px;
}

#view_container table {
  width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#view_container th {
	padding: 10px;
	background-color: #EDF7F8;
	color: #FFFFFF;
}

#view_container th {
  cursor: default;
  padding: 15px 10px;
	text-align: left;
}

#view_container thead th {
	background-color: #2573B4;
}

#view_container tr td {
  padding: 0px 10px;
  color: #000000;
}

#view_container #actions {
  width: 100px;
}

#view_container tr:nth-child(odd) td {
	background-color: #EDF7F8;
}

#view_container #total_row {
  padding: 15px 10px;
}

#view_container a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #1872B8;

  border: 1px solid #1872B8;

  margin: 10px 0px;
  padding: 15px 25px;
  width: auto;
}

#view_container a:hover {
  background-color: #1872B8;
  color: #FFFFFF;
}

#view_container tr td a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #1872B8;

  padding: 5px 15px;
}

#view_container tr td a:hover {
  color: #FFFFFF;
}

#view_container #deleteBtn {
  color: #EE0000;
  border-color: #EE0000;
}

#view_container #deleteBtn:hover {
  background-color: #EE0000;
  color: #FFFFFF;
}

#view_container #moreDetBtn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000000;

  border: none;

  margin: 0px;
  padding: 0px;
}

#view_container #moreDetBtn:hover {
  background-color: rgba(1, 1, 1, 0);
  text-decoration: underline;
  color: #1872B8;
}

#view_container #view_one_link {
  border: none;
  padding: 0px;
  color: #000000;
}

#view_container #view_one_link:hover {
  color: #1872B8;
  text-decoration: underline;
  background-color: inherit;
}

footer {
  background-color: #1872B8;
  color: #FFFFFF;

  padding: 0px 100px;

  height: 7vh;
  width: inherit;

}

footer div {
  cursor: default;
  float: right;
  width: auto;
  padding: 22.5px;
}
/* Sidebar style*/

.side-nav{
   min-height: 86.1vh;
   width:0;
   position:absolute;
   z-index:1;
   top:0;
   left:0;
   background-color:#111;
   opacity:0.9;
   overflow-x:hidden;
   margin-top: 8vh;
   padding-top:60px;
   transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}




/* end of side bar Style*/
